body {
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    background-color: black;
    position: sticky;
    top: 0;
}

main {
    margin: 1em auto;
    width: 80%;
    padding: 1em;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.8);
}

.data {
    display: flex;
}

.data > div {
    margin-left: 1em;
}

.poster {
    width: 10em;
    height: 100%;
    border-radius: 0.5em;
}

#header > .poster {
    width: 18em;
}